<header class="header">
  <a [routerLink]="['/carrinho']">
    <img class="header__logo" src="assets/img/mercado.jpg" alt="logo">
  </a>
</header>
<div class="m-subheader">
  <div class="d-flex align-items-center">
      <div class="mr-auto">
          <ul class="breadcrumb">
            <li>
              <a routerLinkActive="active" routerLink="/main">Produtos</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/carrinho">Carrinho</a>
            </li>
        </ul>
      </div>
  </div>
</div>
